# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Builds
android/
ios/
*.apk
*.ipa

# Logs and debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# System / OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/

# Certificates and keys
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro cache
.metro-health-check*

# Firebase or sensitive config
.env
.env.local
.env*.local
firebase/firebaseConfig.js

# TypeScript
*.tsbuildinfo

# Optional: cache or analytics
coverage/
